:root {
    --color-1: #f3f3fe;
    --color-2: #2a1eda;
  
    --color-dark: #1f1e1f;
    --text-color: #edf3f6;



    --text-size-XXL: 5rem;
    --text-size-XL: 4rem;
    --text-size-L: 2rem;
    --text-size-M: 1rem;
    --text-size-S: 0.6rem;
}
.opensans {
    font-family: "Inter";
    font-size: var(--text-size-M);
}
.title-header {
    position: absolute;
    bottom: 0;
    font-size: var(--text-size-XXL);
    font-weight: 700;
    font-family: "Inter";
    color: var(--color-2);
}
.imprint {
    padding-top: 15vh;
    padding-left: 5%;
    padding-right:5%;
}
.content-header {
    font-size: var(--text-size-XXL);
    font-weight: 700;
    font-family: "Inter";
    color: var(--text-color);
}
.custom-navbar {
    position: fixed;
    font-family: "Inter";
    max-width: 100%; 
    width: 100%; 
    margin: 0 auto; 
    z-index: 5;
    transition: ease 0.5s;
}
.custom-navbar-bg {
    background-color: white;
    
}
.scroll-indicator {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    color: var(--color-2);
    animation: moveUpDown 2s ease-in-out infinite;
    cursor: pointer;
}
.gif-real {
    position: absolute;
    right: 10%;
}
.gif-abstract {
    position: absolute;
    top: 30px;
    right: 10%;
}
.gif-container {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;    
}
.gif-container-text {
    top: 35%;
    left: 15%;
    color: var(--color-2);
    font-family: "Inter";
    position: absolute;
    font-size: var(--text-size-L);
    z-index: 3;
}
.expertise-text {
    width: 50%;
    min-width: 400px;
    max-width: 800px;
}
.proficiency-item {
    position: relative;
    font-size: var(--text-size-XL);
    font-weight: 700;
    font-family: "Inter";
    color: var(--color-2);
    width: fit-content;
}
.proficiency-item-container {
    width: fit-content;
    overflow: hidden;
}
.fade-in-left {
    left: -110%;
}
.fade-obj-1 {
    transition: left .8s;
}
.fade-obj-2 {
    transition: left 1.5s 0.5s;
}
.fade-obj-3 {
    transition: left 2.7s 1s;
}
.fade-in-left.fade-in-active {
    left: 0;
}

.top-container {
    height: 100vh;
    background-color: var(--color-1);
}

.content-container {
    background-color: var(--color-dark);
}
.color-2 {
    color: var(--color-2) !important;
}
.color-dark {
    color: var(--color-dark) !important;
}
p {
    color: var(--text-color);
    font-family: "Inter";
    text-align: justify;
}
footer {
    background-color: var(--color-1);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.footer-item {
    width: 150px;
}
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(0);
    }
}
@keyframes moveUpDown {
    0% {
      transform: translateY(5px); /* Start at the current position */
    }
    50% {
      transform: translateY(-5px); /* Move up 50px at 50% of the animation */
    }
    100% {
      transform: translateY(5px); /* Return to the original position */
    }
}
.slide-in {
    animation: slideInFromLeft 1.5s;
}
@media (max-width: 2000px) {
    :root {
        --text-size-XXL: 4rem;
        --text-size-XL: 3rem;
        --text-size-L: 1.75rem;
    }
}
@media (max-width: 768px) {
    :root {
        --text-size-XXL: 3rem;
        --text-size-XL: 2rem;
        --text-size-L: 1.5rem;
    }
}
@media (max-width: 500px) {
:root {
    --text-size-XXL: 1.5rem;
    --text-size-XL: 1rem;
    --text-size-L: 0.8rem;
    --text-size-M: 0.7rem;
    --text-size-S: 0.6rem;
}
}
@font-face {
    font-family: "Inter";
    src: local("Inter"),
      url("../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
    }
  