:root {
    --color-1: #f3f3fe;
    --color-2: #2a1eda;
  
    --color-dark: #1f1e1f;
    --text-color: #edf3f6;
}
.opensans {
    font-family: "Inter";
    font-size: 1rem;
}
.title-header {
    position: absolute;
    bottom: 0;
    font-size: 5vw;
    font-weight: 700;
    font-family: "Inter";
    color: var(--color-2);
}
.content-header {
    font-size: 5vw;
    font-weight: 700;
    font-family: "Inter";
    color: var(--text-color);
}
.custom-navbar {
    position: fixed;
    font-family: "Inter";
    max-width: 100%; 
    width: 100%; 
    margin: 0 auto; 
    z-index: 2;
    transition: ease 0.5s;
}
.custom-navbar-bg {
    background-color: white;
    
}
.navbar-item {
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--color-2);
    font-weight: 600;
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease;
}
.navbar-item::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color-2);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.4s ease-in-out;
}
.navbar-item:hover {
    text-decoration: none;
}
.navbar-item:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.framework-icon {
    width: 100%;
}  
.framework-icon-container {
    width: 20%;
    max-width: 150px;
    aspect-ratio: 2/2;
}
.framework-icon-title {
    color: var(--text-color);
    font-family: "Inter";
}
.expertise-text {
    width: 50%;
    min-width: 400px;
    max-width: 800px;
}
.project-header-container {
    width: 30%;
    min-width: 400px;
    max-width: 800px;
}
.project-card {
    width: 30%;
    min-width: 400px;
    max-width: 800px;
    transition: transform ease .2s;
    /* box-shadow: rgba(88, 83, 83, 0.5) 0px 25px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
}
.project-card:hover {
    transform: scale(1.02);
}
.project-card-title {
    font-family: "Inter";
    font-size: 2rem;
    font-weight: 600;
    position: absolute;
    top: 0px;
    left: 0px;
    color: black;
    transition-timing-function: ease;
    transform: translateX(-400px);
    transition: transform 0.1s ease-in-out; 
}
.project-card-subtitle {
    position: absolute;
    font-family: "Inter";
    text-align: end;
    bottom: 50px;
    color: black;
    left: 0px;
    transform: translateX(600px);
    transition: transform 0.1s ease-in-out;
}
.project-card-hitbox {
    position: relative; 
    display: inline-block;
    overflow: hidden;    
}
.project-card-hitbox .project-card-image {
    max-width: 100%;
    height: auto;
}
.project-card-hitbox:hover .project-card-title {
    transform: translateX(0)
    
}
.project-card-hitbox:hover .project-card-subtitle {
    transform: translateX(0)
    
}

.horizontal-line {
    background-color: var(--text-color);
    height: 5px;
    opacity: 1.0;
}
.top-container {
    height: 100vh;
    background-color: var(--color-1);
}

.content-container {
    background-color: var(--color-dark);
}
p {
    color: var(--text-color);
    font-family: "Inter";
    text-align: justify;
  }