.timeline-date {    
    color: var(--text-color);
    font-size: var(--text-size-M);
    font-weight: 600;
    font-family: "Inter";
}
.timeline-title {
    background-color: var(--color-2);
    color: var(--text-color);
    font-weight: 700;
    font-family: "Inter";
    text-transform: uppercase;
}   
.timeline-subtitle {
    font-size: var(--text-size-S);
}
.timeline-description {
    color: var(--text-color);
    font-family: "Inter";
    font-size: var(--text-size-M);
}
.timeline-item {
    display: flex;
    flex-direction: column;
}
.timeline-row {
    max-width: 800px;
    min-width: 400px;
    margin:auto;
}
.timeline-col {
    width: 50%;
    min-width: 220px;
}
.timeline-container {
    padding-bottom: 100px;
}